 
.carousel-item h1 {
    color:white; 
    left:250px;
    top: 150px;
    right: 0;
    z-index: 1;
    white-space: nowrap;
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    font-family: "Old Standard TT";
}  
